{% extends 'app/base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
{% load static %}



<div style="font-family: montserrat; overflow: hidden;">
   <div style="height: 500px; border-radius: none; background: linear-gradient(#000000aa, #00000000), url({% static 'app/img/banner/aboutus.png' %}); background-size: cover; ">
    <div class="container row">
        <h2 style="font-weight: 700; margin: 95px 100px; color: white;">ABOUT US</h2>
    </div>
  </div> 
  
  <div class="" style="font-size: 20px; font-weight: 400; letter-spacing: 0.5px; word-spacing: 2px;">
    <div class="container">
    <p>&nbsp; &nbsp; &nbsp; Welcome to QuickFill, your go-to source for reliable and efficient fuel delivery services. Our team is dedicated to providing our clients with top-quality fuel delivery solutions that are convenient, safe, and affordable.</p>
  </div>
  </div>

  <div style="padding: 60px; letter-spacing: 0.5px; word-spacing: 2px; background-color: #429EBD; margin-bottom: -16px;">
    <div class="container">
    <h2 style="font-weight: 700;">OUR COMPANY</h2>
    <p style="font-size: 20px; font-weight: 400; letter-spacing: 0.5px; word-spacing: 2px;">&nbsp; &nbsp; &nbsp;QuickFill was founded with the goal of revolutionizing the fuel delivery industry. Our team is made up of experienced professionals who have a passion for providing exceptional service to our clients. We understand that your time is valuable, which is why we offer flexible delivery schedules that fit your unique needs. Our mission is to make fuel delivery as seamless as possible, so you can focus on what's important to you.</p>
  </div>
  </div>

  <div style="padding: 60px; letter-spacing: 0.5px; word-spacing: 2px; background-color: #053F5C; color: white; margin-bottom: -16px;">
    <div class="container">
    <h2 style="font-weight: 700;">OUR SERVICES</h2>
    <p style="font-size: 20px; font-weight: 400; letter-spacing: 0.5px; word-spacing: 2px;">&nbsp; &nbsp; &nbsp; At QuickFill, we offer a range of fuel delivery services to suit your needs. Whether you need fuel for your home, business, or industrial site, we've got you covered. We offer flexible delivery options, including on-demand and scheduled deliveries, so you can get the fuel you need when you need it. Our team is trained to handle all types of fuels, including diesel, gasoline, and kerosene.</p>
  </div>
  </div>

  <div style="padding: 60px; letter-spacing: 0.5px; word-spacing: 2px; background-color: #4AC959; margin-bottom: -16px;">
    <div class="container">
    <h2 style="font-weight: 700;">OUR COMMITMENT TO SAFETY</h2>
    <p style=" font-size: 20px; font-weight: 400; letter-spacing: 0.5px; word-spacing: 2px;">&nbsp; &nbsp; &nbsp; At QuickFill, safety is our top priority. We adhere to strict safety guidelines and regulations to ensure that our team and our clients are protected at all times. Our delivery trucks are regularly maintained and inspected to ensure that they are safe to operate. We also provide our team with ongoing safety training to ensure that they are equipped with the knowledge and tools they need to perform their jobs safely.</p>
  </div>
  </div>

  </div>
</div>

{% endblock body %}