{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block body %}

<style>
    *{
        font-family: Gilroy;
    }

    .weight: font-weight: 500;
</style>

<br><br><br>
<div class="container py-4">
    <div class="row">
        {% if cart %}
            <h1 class="text-left mb-5 fw-bold text-success">Shopping Cart</h1>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body">
                        {% for item in cart %}
                            <div class="row card">
                                <div class="col-sm-3 text-center align-self-center"><img src='/media/{{item.product.image}}' alt=".." class="img-fluid shadow-sm" height="150" weight="150">
                                </div>

                                <div class="co-sm-9">
                                    <h4>{{item.product.name}}</h4>
                                    <p class="mb-2 weight small">{{item.product.desc}}</p>
                                    <div class="my-3">
                                        <label class="fw-semibold" for="quantity">Quantity:</label>
                                        <a class="minus-cart btn" pid="{{item.product.id}}"><i class="fas fa-minus-square fa-lg"></i></a>
                                            <span id="quantity">{{item.quantity}}</span>
                                        <a class="plus-cart btn" pid="{{item.product.id}}"><i class="fas fa-plus-square fa-lg"></i></a>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="remove-cart btn btn-sm btn-danger mr-3" pid={{item.product.id}}>Remove item</a>
                                        <p class="mb-0"><span><strong>Rs. {{item.product.price}}</strong></span></p>
                                    </div>
                                </div>
                            </div>
                            <hr class="text-muted">
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="fw-semibold">Total Amount of</h3>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 fw-semibold">Amount <span id="amount">Rs. {{amount}}</span></li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 fw-semibold">Shipping <span id="amount">Rs. 0</span></li><hr>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>Total</strong><small>(including GST)</small>
                                </div>
                                <span id="totalamount"><strong>Rs. {{totalamount}}</strong></span>
                            </li>
                        </ul>
                        <div class="d-grid">
                            <a href="{% url 'checkout' %}" class="btn btn-success fw-semibold">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <h1 class="text-center mb-5 fw-bold">Cart is Empty</h1>
            {% endif %}
    </div>
</div>

{% comment %} ------------script----------- {% endcomment %}
<script>
    $('.plus-cart').click(function(){
        var id=$(this).attr("pid").toString();
        var eml = this.parentNode.children[2]
        console.log("pid =",id)
        $.ajax({
            type:"GET",
            url:"/pluscart",
            data:{
                prod_id:id
            },
            success:function(data){
                console.log("data = ",data);
                eml.innerText=data.quantity
                // Update the UI with the new amount and total amount
                document.getElementById('amount').innerText=data.amount
                document.getElementById('totalamount').innerText=data.totalamount
            }
        })
    })

    $('.minus-cart').click(function(){
        var id=$(this).attr("pid").toString();
        var eml = this.parentNode.children[2]
        $.ajax({
            type:"GET",
            url:"/minuscart",
            data:{
                prod_id:id
            },
            success:function(data){
                console.log("data = ",data);
                eml.innerText=data.quantity
                // Update the UI with the new amount and total amount
                document.getElementById('amount').innerText=data.amount
                document.getElementById('totalamount').innerText=data.totalamount
            }
        })
    })

    $('.remove-cart').click(function(){
        var id=$(this).attr("pid").toString();
        var eml = this
        $.ajax({
            type:"GET",
            url:"/removecart",
            data:{
                prod_id:id
            },
            success:function(data){
                console.log("data = ",data);
                eml.innerText=data.quantity
                // Update the UI with the new amount and total amount
                document.getElementById('amount').innerText=data.amount
                document.getElementById('totalamount').innerText=data.totalamount
                eml.parentNode.parentNode.parentNode.parentNode.remove()
            }
        })
    })
</script>

{% endblock body %}