{% extends 'app/base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
{% load static %}

<style>
*{
  font-family: Gilroy;
}

.img-gradient {
  position:relative;
}


.img-gradient::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.60) 0%, rgba(255,255,255,0) 100%);
}

.weight{
  font-weight: 500;
}

.card{
  background: rgba(16, 139, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: 1s transform cubic-bezier(.155,1.105,.295,1.12),1s box-shadow,1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
cursor: pointer;
}

.card-hover:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

</style>

{% comment %} --------IMAGE CAROUSEL------ {% endcomment %}

<div class="container-fluid px-0" style="">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" >

      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" style="font-family: montserrat; letter-spacing: 1px; word-spacing: 1px;">
        
        <div class="carousel-item active" data-bs-interval="4000">
          <div class="img-gradient">
          <img src="{% static "app/img/banner/truckbg.jpg" %}" style="height: 80vh;" class="d-block w-100" alt="fuelpump" >
        </div>
            <div class="carousel-caption d-none d-md-block" style="position: absolute; left: 30vh; top: 20vh; text-align: left;" >
              <h1 style="font-weight: 600; font-size: 4.5em;">Welcome to <br><span style="color: #93EC6A;">QuickFill!<span></h1><br>
              <h3 style="font-weight: 600; font-size: 3em;">Our <span style="color: #93EC6A;">24/7</span> Doorstep Fuel Delivery Service.</h3>
              <hr>
              <p style="font-size: 1.2em;">Reduce the carbon footprint associated with driving to and from a gas station.</p>
              <hr><br>
              <br>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
          <div class="img-gradient">
          <img src="{% static "app/img/banner/pump1 (1).jpg" %}" style="height: 80vh;" class="d-block w-100" alt="fueltruck">
          </div>
            <div class="carousel-caption d-none d-md-block" style="position: absolute; left: 30vh; top: 20vh; text-align: left;">
              <h1 style="font-weight: 600; font-size: 4.5em;">Makes <br>Environmentally <br><span style="color: #93EC6A;">Friendly.</span></h1>
              <hr>
              <p style="font-size: 1.2em;">The fuel is brought directly to you, wherever you are.</p>
              <hr><br>
              <br>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="4000">
          <div class="img-gradient">
          <img src="{% static "app/img/banner/canbg.png" %}" style="height: 80vh;" class="d-block w-100" alt="fuelcan">
          </div>
            <div class="carousel-caption d-none d-md-block" style="position: absolute; left: 30vh; top: 20vh; text-align: left;">
              <h1 style="font-weight: 600; font-size: 4.5em;">Fuel delivery made <br><span style="color: #93EC6A;">easy</span> and <br><span style="color: #93EC6A;">convenient.</span></h1>
              <hr>
              <p style="font-size: 1.2em;">Simple Ordering | Fast Delivery | No Waiting in Line | Easy Payment</p>
              <hr><br>
              <br>
            </div>
        </div>
      </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon mx-0" style="position: absolute; left: 30px;" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon mx-0" style="position: absolute; right: 30px;" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
    </div>
</div> 

{% comment %} ------------- PRODUCT CARDS --------------- {% endcomment %}

<div class="container py-5">
  <h1 class="fw-bold">Our Products</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
    <div class="col">
      <a href="{% url 'category' 'petrol' %}" class="btn text-decoration-none">
      <div class="card card-hover" style="height: 600px;">
        <img src="{% static "app/img/fuels/20LtrsDiesel.jpg" %}" height="" width="auto" class="card-img-top" alt="">
        <div class="card-body">
          <h3 class="card-title fw-bold">QuickFill Cans for <span style="color: green;">Petrol</span>.</h3>
          <p class="card-text weight">Whether storing fuel for your power equipment or emergency, having the best storage can for you helps.</p>
          <p class="card-text text-success weight">View Products>></p>
        </div>
      </div>
    </a>
    </div>

    <div class="col">
      <a href="{% url 'category' 'diesel' %}" class="btn text-decoration-none">
      <div class="card card-hover" style="height: 600px;">
        <img src="{% static "app/img/fuels/5Ltrs.diesel.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title fw-bold">QuickFill Cans for <span style="color: green;">Diesel</span>.</h3>
          <p class="card-text weight">A high-quality a can make filling your machinery or generator easy, in addition to providing a safe, leak-proof container for storage or transporting.</p>
          <p class="card-text text-success weight">View Products>></p>
        </div>
      </div>
    </a>
    </div>

    <div class="col">
      <a href="{% url 'category' 'engineoil' %}" class="btn text-decoration-none">
      <div class="card card-hover" style="height: 600px;">
        <img src="{% static "app/img/fuels/catroldiesel5ltrs.jpeg" %}" height="360px" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title fw-bold"><span style="color: green;">Engine Oil</span>.</h3>
          <p class="card-text weight">Car lubricant plays an important role in ensuring that your car's engine runs smooth and has unparalleled performance. You can get these car lubricant oils online with guaranteed services for your engine's longer shelf-life. </p>
          <p class="card-text text-success weight">View Products>></p>
        </div>
      </div>
    </a>
    </div>
  </div> 
</div>

<div class="container">
  <div class="card p-5 mb-5">
    <div class="row">
      <h1 class="fw-bold">Our Cans</h1>
      <div class="col-md-7 order-md-2">
        <h2 class="fw-normal">Whether storing fuel for your power equipment or emergency preparedness, having the best storage can for you on hand helps.</h2><br>
        <p class="lead fw-semibold">A high-quality a can make filling your machinery or generator easy, in addition to providing a safe, leak-proof container for storage or transporting. With so many options available, it can be a challenge to choose the best gas can. It’s important to find one that is easy to fill and pour, but also safe and durable.</p><br>
        <h4 class="fw-normal">Benefits :</h4>
        <ul>
          <li>Durable Material</li>
          <li>Capacity of 20 Liter</li>
          <li>Pour sprout for easy transfer</li>
          <li>Best safety features in the market</li>
        </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static "app/img/fuels/20LtrsDiesel.jpg" %}" height="450px" width="450px" class="" alt="...">
      </div>
    </div>
  </div>
</div>


{% comment %} text-shadow: 0px 0px 30px black, 0 0 0.5em black {% endcomment %}
{% endblock body %}