{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block body %}

<style>
    *{
        font-family: Gilroy;
    }

    .container{
        font-weight: 500;
    }

    .card{
        background: rgba(16, 139, 0, 0.12);
    }
</style>

<br><br><br>
<div class="container my-4">
    <div class="row">
        <h3 class="fw-bold">Welcome <span class="text-success">{{request.user.username|capfirst}}</span>!</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="{% url 'profile' %}" class="btn btn-success fw-semibold">Change Password Done</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-9 offset-sm-1 text-center">
        <h3 class="fw-bold text-success">Password Changed Successfully !!!!</h3>
            <div>
                <img src="https://cdn.dribbble.com/users/147386/screenshots/5315437/success-tick-dribbble.gif" width="500" height="370" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock body %}

